* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

@font-face {
  font-family: 'Rokkitt';
  src: url("./resources/fonts/Rokkitt-Regular.ttf");
  font-style: normal; }

@font-face {
  font-family: 'Rokkitt';
  src: url("./resources/fonts/Rokkitt-Bold.ttf");
  font-weight: bold; }

@font-face {
  font-family: 'Lobster';
  src: url("./resources/fonts/Lobster-Regular.ttf");
  font-weight: normal; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

body {
  font-family: 'Rokkitt';
  font-display: none;
  background: #90a20d;
  background: linear-gradient(131deg, #90a20d 5%, #b5bf27 40%, #f6f6bf 94%); }

body a {
  color: black; }

main {
  padding: 0px 70px; }

/* navbar */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
  font-family: lobster;
  background-color: #2e2e2e;
  font-size: x-large;
  font-weight: bold;
  color: #f0f0d8;
  display: flex;
  justify-content: center; }
  header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px; }
    header li:hover {
      color: #b4df37; }

.nav-link {
  color: #eee;
  font-size: 30px; }

.navegador__home {
  font-size: xx-large; }

.navbar-brand {
  width: 50px;
  height: 50px;
  padding: 5px;
  display: flex;
  justify-content: center; }

footer {
  text-align: center;
  font-size: medium; }
  footer a {
    padding: 7px;
    display: inline-flex;
    justify-content: space-evenly; }

.hero__contenido-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  padding: 10px; }

.hero__contenido-titulo {
  display: block;
  text-align: center;
  font-size: 220%;
  padding: 10px; }

.hero__contenido-info {
  display: block;
  text-align: center;
  font-size: 120%;
  padding: 10px; }

.hero__contenido-probalas {
  display: block;
  text-align: center;
  font-size: 200%;
  font-weight: bold;
  padding: 10px; }

.hero__contenido-boton {
  display: block;
  text-align: center;
  font-size: 250%;
  margin: 15px;
  padding: 10px;
  color: #eee;
  background-color: #2e2e2e;
  border-radius: 10px;
  border: 2px solid #000000; }
  .hero__contenido-boton:hover {
    color: #b4df37; }

video {
  width: 100%; }

.burgas__titulo {
  font-weight: bold;
  text-align: center;
  font-size: 300%; }
  .burgas__titulo__subtitulo {
    text-align: center;
    font-size: 150%;
    padding: 20px 20px;
    margin: 10px; }

.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center; }
  .menu__tarjeta {
    background-color: #c0c0b4;
    border-radius: 10px;
    padding: 10px 5px 10px 5px;
    width: 360px;
    margin: 20px; }
    .menu__tarjeta-imagen {
      width: 350px;
      height: 350px;
      padding: 5px;
      display: flex;
      justify-content: center; }
    .menu__tarjeta-titulo {
      display: flex;
      font-family: lobster;
      text-align: center;
      display: block; }
    .menu__tarjeta-descripcion {
      display: flex;
      text-align: center;
      display: block; }

.pedido {
  text-align: center;
  font-size: 300%;
  padding: 10px 0px; }

.direccion {
  font-size: 150%;
  text-align: center; }

.boton-continuar {
  display: block;
  font-size: 150%;
  margin: 15px;
  padding: 10px;
  width: fit-content;
  color: #eee;
  background-color: #2e2e2e;
  border-radius: 10px;
  border: 2px solid #000000; }
  .boton-continuar:hover {
    color: #b4df37; }

.contacto__titulo {
  text-align: center;
  font-size: 300%;
  padding: 10px 0px; }

.contacto__subtitulo {
  font-size: 150%;
  text-align: center; }

.form {
  font-size: 150%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-items: center;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  border: 2px solid #000000; }

.enviar {
  display: block;
  font-size: 150%;
  margin: 15px;
  padding: 10px;
  width: fit-content;
  background-color: #2e2e2e;
  border-radius: 10px;
  border: 2px solid #000000; }
  .enviar a {
    color: #eee; }
    .enviar a:hover {
      color: #b4df37; }

@media (max-width: 992px) {
  /* index */
  .hero__contenido-logo {
    width: 55%; }
  /* burgas */
  .menu {
    grid-template-columns: repeat(2, 1fr); } }

@media (max-width: 768px) {
  /* index */
  header ul {
    display: none; }
  header span {
    display: block; }
  .hero__contenido-logo {
    width: 68%; }
  /* burgas */
  .menu {
    grid-template-columns: repeat(1, 1fr); } }

@media only screen and (max-width: 576px) {
  /* index */
  .hero__contenido-logo {
    width: 70%; } }
